html, body {
    text-align: center;
    height: 100%;
    background-color: black !important;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

#app {
    text-align: center;
    height: 100%;
}

section {
    display: block;
    height: 100%;
}